body {
    background-color: #00ff00;
    font-size: 40px;
    font-family: 'Lilita One';
    color: white;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5), 0px -2px 5px rgba(0, 0, 0, 0.5), -2px 0px 5px rgba(0, 0, 0, 0.5), 2px 0px 5px rgba(0, 0, 0, 0.5);
}

.container {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.stopwatch {
    padding: 0px;
    margin: 0px;
    display: inline;
}

.label {
    font-size: 26px;
    text-align: center;
}

#paused {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    background: url('pause-image.png') no-repeat;
    background-size: contain;
    height: 32px;
    width: 30px;
}

.hidden {
    display: none !important;
}